/* Imports de fonts */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    color: white;
}

/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .header-top {
    display: none;
    height: 50px;
}

header .header-bottom {
    height: 60px;

}

header .logo {
    width: 86px;
}


header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}


header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 170px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: right 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* MAIN */

main {
    margin-top: 60px;
}

/* Banner */

main .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 606px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(../assets/image/valorant-pergunte-3-scaled\ 1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

main .banner h1 {
    font-family: TitilliumWeb-Black;
    font-size: 40px;
    text-shadow: 0 0 7px #FD4255;
}

main .banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    font-family: TitilliumWeb-Bold;
    font-size: 24px;
    color: black;
    text-decoration: none;
    background-color: #F9AA01;
    border-radius: 8px;
    margin-bottom: 47px;
}

/* Sessão Jogos */

main .jogos {
    width: 100%;
    height: 590px;
    background-color: #1B1426;
}

main .jogos .jogos-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .banner-amarelo {
    display: flex;
    flex-direction: column;
    background-color: #F9AA01;
    height: 1535px;
    width: 100%;
}

main .banner-amarelo h3 {
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    color: #1B1426;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 70px;
}

main .banner-amarelo .killjoy img {
    width: 314px;
    height: 511px;
}

main .banner-amarelo .killjoy .jogosdiferentes {
    width: 231px;
    height: 300px;
}

/* Tablets >= 768px */
@media screen and (min-width: 768px) {}

/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 85%;
        max-width: 1200px;

    }

    header {
        position: static;
        height: 140px;
        position: static;

    }


    header .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid #F9AA01;
        height: 50px;

    }

    header .header-top .contatos {
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

    }

    /* .divs .phone, .mail */
    header .header-top .contatos>div {
        display: flex;
        gap: 10px;
        width: 200px;
        align-items: center;


    }


    header .header-top .midias-sociais {
        display: flex;
        width: 140px;
        justify-content: space-between;
    }



    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }


    header .logo {
        width: 200px;
    }

    header .header-bottom {
        height: 90px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
    }



    header .header-bottom nav>a {
        padding: 0;
        border: none;
        font-size: 14px;
    }


    header .header-bottom .menu-usuarios {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: none;
        justify-content: space-between;

        height: auto;
        width: 140px;
    }

    main {
        margin-top: 0;
    }

    main .banner {
        display: flex;
        flex-direction: column;
        background-image: url(../Assets/image/Banner_background_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 722px;
    }

    main .banner h1 {
        font-family: TitilliumWeb-Black;
        font-size: 80px;
        margin-top: 15px;
    }


    main .banner a {
        margin-bottom: 32px;
        font-family: TitilliumWeb-Bold;
        font-size: 24px;
        
    }

    main .jogos .jogos-flex {
        flex-direction: row;
        width: 100%;
        height: 500px;
        justify-content: space-between;
        align-items: center;
    }
    main .jogos img {
        width: 556px;
        height: 313px;
    }

    main .banneramarelo {
        width: 100%;
        height: 1000px;
        background-color: #F9AA01;
    }
}