/* Imports de fonts */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: 'Quicksand-regular';
    src: url(../Assets/Fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'Titilliumweb-regular';
    src: url(../Assets/Fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}


/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Genéricas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Mobile First */

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .header-top {
    display: none;
    height: 50px;
}

header .header-bottom {
    height: 60px;

}

header .logo {
    width: 86px;
}


header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}


header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 170px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: right 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main {
    height: 1231px;
    margin-top: 60px;
    color: white;
    background-image: url(../Assets/image/Banner_cadastro_de_Equipe.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main .equipes {

    height: 1231px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/* main .equipes .blur {
    height: 100%;
    width: 100%;
    background: rgba(217, 217, 217, 0.01);
backdrop-filter: blur(2px);
} */


main .equipes .formulario-equipes {
    height: 492px;
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(112.07deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 98.83%);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    margin-top: 60px;
}

main .equipes .formulario-equipes .cadastro {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

main .equipes .formulario-equipes .titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    height: 52px;
    justify-content: center;

}

main .equipes .formulario-equipes .titulo h1 {
    font-family: TitilliumWeb-Black;
    font-size: 28px;
    font-weight: 900;
    color: white;
    /* width: 290px;
    height: 43px; */
    text-transform: uppercase;
}

main .equipes .formulario-equipes .titulo p {
    border-bottom: #F9AA01 solid 2px;
    width: 250px;

}

main .equipes .formulario-equipes .cadastro .idequipe {
    width: 273px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    backdrop-filter: blur(3px);
    text-align: center;
    display: flex;
    padding-left: 10px;
}

main .equipes .formulario-equipes .cadastro .idequipe ::placeholder {
    color: white;
}

main .equipes .formulario-equipes .cadastro .idequipe input {
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}

main .equipes .formulario-equipes .cadastro .nome-equipe {
    width: 273px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    backdrop-filter: blur(3px);
    text-align: center;
    display: flex;
    padding-left: 10px;
}

main .equipes .formulario-equipes .cadastro .nome-equipe ::placeholder {
    color: white;
}

main .equipes .formulario-equipes .cadastro .nome-equipe input {
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}

main .equipes .formulario-equipes .imagens {
    display: flex;
    align-items: center;
    gap: 10px;
}


main .equipes .formulario-equipes .imagens button {
    width: 125px;
    height: 40px;
    background-color: #D9D9D9;
    color: #1B1426;
    border-radius: 8px;
    text-align: center;
    border: none;
    font-size: 13px;
    font-weight: 700;
    font-family: TitilliumWeb-Bold;
}

main .equipes .formulario-equipes .imagens p {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Titilliumweb-regular';
    color: white;
}

main .equipes .formulario-equipes .btn-cadastro {
    width: 270px;
    height: 40px;
    background-color: #F9AA01;
    color: #1B1426;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: TitilliumWeb-Bold;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
}





main .equipes table {


    border-collapse: collapse;
    margin-bottom: 50px;
    width: 334px;
    height: 394px;
}

main .equipes table thead {
    width: 336px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    border-bottom: #F9AA01 3px solid;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 70px;
    font-size: 20px;
    font-weight: 900;
    font-family: TitilliumWeb-Black;

}



main .equipes table thead p {
    border-bottom: 3px solid #F9AA01;
    width: 336px;

}

main .equipes table thead p {
    border-bottom: #F9AA01 2px solid;
}

main .equipes table thead tr {
    color: #F9AA01;
    text-align: center;
    display: flex;
    gap: 50px;
    

}

main .equipes table tbody {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: TitilliumWeb-Bold;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

}


main .equipes table tbody tr .lixeira-icone {
    height: 19px;
    width: 16px;
    border: none;

}


main .equipes table tbody tr {
    background: linear-gradient(112.07deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 98.83%);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    text-align: center;
    width: 336px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .equipes table tbody tr td {
    display: flex;
}

main .equipes table tbody tr .dado1 {
    border-right: 3px solid #F9AA01;
    padding-right: 20px;
}

main .equipes table tbody tr .dado2 {
    position: relative;
    right: 20px;
}

main .equipes table tbody tr .dado3 {
    border-right: 3px solid #F9AA01;
    border-left: 3px solid #F9AA01;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    
}

/* main .equipes table tbody tr td .dado1 {
    width: ;
} */


main .equipes table tbody tr .img-loud {
    height: 32px;
    width: 47px;

}



/* Note: backdrop-filter has minimal browser support */

@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 85%;
        max-width: 1200px;

    }

    header {
        position: static;
        height: 140px;
        position: static;

    }


    header .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid #F9AA01;
        height: 50px;

    }

    header .header-top .contatos {
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

    }

    /* .divs .phone, .mail */
    header .header-top .contatos>div {
        display: flex;
        gap: 10px;
        width: 200px;
        align-items: center;


    }


    header .header-top .midias-sociais {
        display: flex;
        width: 140px;
        justify-content: space-between;
    }



    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }


    header .logo {
        width: 200px;
    }

    header .header-bottom {
        height: 90px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
    }



    header .header-bottom nav>a {
        padding: 0;
        border: none;
        font-size: 14px;
    }


    header .header-bottom .menu-usuarios {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: none;
        justify-content: space-between;

        height: auto;
        width: 140px;
    }

    main {
        margin-top: 0;
    }

    main .banner {
        display: flex;
        flex-direction: column;
        background-image: url(../Assets/image/Banner_background_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 722px;
    }

    main .banner h1 {
        font-family: TitilliumWeb-Black;
        font-size: 80px;
        margin-top: 15px;
    }


    main .banner a {
        margin-bottom: 32px;
        font-family: TitilliumWeb-Bold;
        font-size: 24px;

    }

    main .jogos .jogos-flex {
        flex-direction: row;
        width: 100%;
        height: 500px;
        justify-content: space-between;
        align-items: center;
    }

    main .jogos img {
        width: 556px;
        height: 313px;
    }

    main .banneramarelo {
        width: 100%;
        height: 1000px;
        background-color: #F9AA01;
    }
}

footer {
    /* height: 1531px; */
    width: 100%;
    background-image: url(../Assets/image/backgroung_footer.png);
}

footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 212px;

    background: linear-gradient(180deg, #000002 21.51%, rgba(67, 3, 99, 0.03) 100%);
}

footer .footer-top img {
    height: 32px;
    width: 110px;
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;

}

footer .footer-top p {
    padding-top: 40px;
}

footer .footer-bottom {
    width: 100%;
    height: 1260px;
    display: flex;
    flex-direction: column;
}

footer .footer-bottom .nosso-sucesso {
    margin-bottom: 15%;
    color: white;
    font-family: 'Quicksand-regular';
    font-size: 14px;
    font-weight: 400;

}


footer .footer-bottom .links-sociais-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20%;
}

footer .footer-bottom .links-uteis {

    margin-bottom: 25%;
}


footer .footer-bottom .links-uteis .links-uteis-titulo {
    font-size: 30px;
    font-family: TitilliumWeb-Black;
    font-weight: 900;
    color: white;
    padding-bottom: 15%;
}

footer .footer-bottom .links-uteis .links-uteis-titulo p {
    border-bottom: 2px solid #F9AA01;
    width: 125px;
}

footer .footer-bottom .links-uteis .links-uteis-itens {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    color: white;

}

footer .footer-bottom .links-uteis .links-uteis-itens .links1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

footer .footer-bottom .links-uteis .links-uteis-itens .links1 .abc {
    width: 100px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .footer-bottom .links-uteis .links-uteis-itens .links1 .abc hr {
    width: 20px;
    height: 2px;
    border: none;
    background-color: #F9AA01;


}

footer .footer-bottom .links-uteis .links-uteis-itens a {
    color: white;
    text-decoration: none;
    width: 110px;
    margin-right: 10px;

}


footer .footer-bottom .contatos {
    height: 258px;
    width: 290px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}

footer .footer-bottom .contatos .contatos-titulo {
    font-size: 30px;
    font-family: TitilliumWeb-Black;
    font-weight: 900;
    color: white;
    padding-bottom: 15%;
}

footer .footer-bottom .contatos .contatos-titulo p {
    border-bottom: 2px solid #F9AA01;
    width: 125px;
}

footer .footer-bottom .contatos .localização {
    color: #F9AA01;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;

}

footer .footer-bottom .contatos .rua {
    color: white;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
    text-decoration: none;
}

footer .footer-bottom .contatos .junte {
    color: #F9AA01;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

footer .footer-bottom .contatos .contato-gamer {
    color: white;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
    text-decoration: none;
}

footer .footer-bottom .contatos .tel-footer {
    color: #F9AA01;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

footer .footer-bottom .contatos .numero-fone {
    color: white;
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
    text-decoration: none;
}

footer .footer-bottom .newsletter {
    height: 201px;
    width: 333px;
}

footer .footer-bottom .newsletter .newsletter-titulo {
    font-size: 30px;
    font-family: TitilliumWeb-Black;
    font-weight: 900;
    color: white;
    padding-bottom: 15%;
}

footer .footer-bottom .newsletter .newsletter-titulo p {
    border-bottom: 2px solid #F9AA01;
    width: 125px;
}

footer .footer-bottom .newsletter-itens .digitar-email {
    background: linear-gradient(91.13deg, rgba(239, 239, 239, 0.6) 0%, rgba(239, 239, 239, 0.1) 100%);
    backdrop-filter: blur(3px);
    width: 333px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

footer .footer-bottom .digitar-email input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 5%;



}

footer .footer-bottom .digitar-email input::placeholder {
    color: white;

}

footer .footer-bottom button {
    height: 40px;
    width: 333px;
    background-color: #F9AA01;
    font-size: 24px;
    font-weight: 700;
    font-family: TitilliumWeb-Bold;
    border-radius: 8px;
}

footer .voltar-ao-topo {
    height: 40px;
    width: 40px;
    left: 83vw;
    top: 83vh;
    border-radius: 8px;
    position: fixed;

}

footer .copy {
    font-family: 'Titilliumweb-regular';
    font-size: 16px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}