html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}


header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(20px);
    align-items: center;


}

header .header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header1 .relap {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}



header .pesquisa-header {
    height: 50px;
    width: 465px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

header .pesquisa-header #pesquisa {
    outline: none;
    border: none;
    color: grey;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    border-radius: 10px;
}

header .pesquisa-header ::placeholder {
    width: 100%;

}

header nav {
    display: flex;
    justify-content: space-between;
    text-transform: none;
    width: 350px;
}

header nav a {
    text-decoration: none;
    color: white;

}

header nav a:hover {
    color: grey;
}

header .iconsheader img {
    height: 30px;
    width: 30px;
}

header .iconsheader {
    display: flex;
    gap: 10px;
}

/* body {
    background-image: linear-gradient(91.13deg, rgba(164, 91, 206, 1), rgba(51, 36, 177, 1));
} */

main .banner1 {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(91.13deg, rgba(164, 91, 206, 1), rgba(51, 36, 177, 1));
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.setas1 {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.setas21 {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;

}


.setas1 img,
.setas21 img {
    width: 40px;
    height: 40px;

}

main .banner1 .trocar-banner button {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


main .banner1 .coisas-do-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

main .banner1 .img-notebook {
    width: 1100px;
    height: 800px;
    position: relative;
    top: 120px;
    right: 0px;

}

main .banner1 .info-banner1 {
    display: flex;
    flex-direction: column;
    width: 100%px;
    height: 300px;
    gap: 40px;
    position: relative;
    right: 300px;

}

main .banner1 .info-banner1 h3 {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

main .banner1 .info-banner1 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;

}

.generico_btn {
    background-color: #FFC101;
    color: white;
    border: none;
    border-radius: 60px;
    width: 175px;
    height: 50px;
    cursor: pointer;
}

.generico_btn:hover {
    color: grey;
}

main .banner1 .coisas-do-banner .info-banner1 button:hover {
    color: grey;
}

main .envio {
    width: 100%;
    height: 285px;
    background-color: #E0D2EB;
    display: flex;
    flex-direction: row;
    z-index: 2;
    padding: 50px;
    position: relative;

}

main .envio img {
    width: 50px;
    height: 50px;
}

main .envio .resumo {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

main .envio .resumo .caminhao-envio p {
    margin-left: 65px;

}

main .envio .titulo-caminhao {
    display: flex;
    align-items: center;
    gap: 15px;
}

main .envio .titulo-caminhao h4 {
    font-size: 26px;
}

main .produtos1 {
    padding-top: 50px;
    width: 100%;
    height: 770px;
    display: flex;
    background-color: #e2e0e0eb;

}

main .titulos-pd1 {
    width: 100%;
    height: 235px;
    align-items: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 25px;
    margin: 0px;
    padding: 0px;
}

main .titulos-pd1 h2 {
    font-size: 20px;
    text-transform: uppercase;
}

main .titulos-pd1 h3 {
    font-size: 50px;
}

main .produtos1 .titulos-pd1 p {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

main .produtos1 .div_produtos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



main .produtos1 .produtos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.see {
    color: black;
    cursor: pointer;
}



main .produtos1 .produtos img {
    width: 150px;
    height: 150px;
}

main .produtos2 {

    padding-top: 50px;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0D1EB;
}

.produtos_principais {
    width: 100%px;
    height: 500px;
    /* background-color: rgb(122, 118, 118); */
    gap: 30px;
    display: flex;
    justify-content: center;


}

.celulares1 {
    width: 370px;
    height: 100%;
}

.celulares_principal {
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.celulares_principal button {
    border-radius: 30px;
    width: 170px;
    height: 50px;
    color: #ea01ff;
    background-color: white;
    border: 1px solid #ea01ff;
    cursor: pointer;
}

main .celulares12 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

main .celulares12:hover {
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.2);
}

main .celulares12 .celulares_img {
    width: 100%;
    height: 100%;


}

main .celulares12 .celulares_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.produto4_titulo {
    width: 50%;
    height: 100%;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* margin-top: 20px; */
    /* justify-content: center; */
}

.produto4_titulo button {
    border-radius: 30px;

    width: 170px;
    height: 50px;
    color: #ea01ff;
    background-color: white;
    border: 1px solid #ea01ff;
    cursor: pointer;
}

.produto4 {
    display: flex;
    width: 1030px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
}

.produto4_article {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    gap: 100px;
}

.produto4_article:hover {
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.2);
}

.produto4_img {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.produto4_img img {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;

}

.produto2_e_3 {
    display: flex;
    gap: 30px;
    width: 370px;
    height: 230px;



}

.produto2_article {
    width: 500px;
    height: 250px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.produto2_article:hover {
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.produto2_article .produto2_titulo {
    padding-left: 40px;
    padding-top: 40px;
    line-height: 30px;
}


.produto2_1_img {
    width: 450px;
    height: 250px;
}

.produto2_1_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.produto2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.produto3 {
    width: 500px;
    height: 250px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.produto3:hover {
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.2);

}

.produto3_titulo {
    padding-left: 40px;
    padding-top: 40px;
    line-height: 30px;
}

.produto3_img {
    width: 450px;
    height: 250px;
    display: flex;
    align-items: flex-end;

}

.produto3_img img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.headsets {
    padding: 30px;
    width: 100%;
    height: 770px;
    background-color: #e2e0e0eb;
}

main .cabecalho_headsets {
    display: flex;
    width: 100%;

    justify-content: space-between;
    margin-top: 30px;
}

main .cabecalho_headsets h1 {
    font-size: 50px;
}

main .cabecalho_headsets nav {
    text-transform: none;
    display: flex;
    gap: 20px;
}

main .cabecalho_headsets nav a {
    text-decoration-color: transparent;
    color: grey;
    font-size: 20px;
}

main .cabecalho_headsets nav a:hover {
    text-decoration-color: #ea01ff;
    text-transform: none;


}


main .unde {
    width: 100%;
    height: 450px;
    /* background-color: red; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

main .unde_article {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid grey;
}

main .unde_article:hover {
    box-shadow: 0px 5px 15px 20px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

main .unde_article .unde_img {
    width: 100%;
    height: 60%;
    padding: 20px;
}

main .unde_article .unde_img img {
    width: 100%;
    height: 100%;
}

.unde_preco a {
    width: 30px;
    height: 30px;
}

.unde_preco a img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.unde_desc {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 60%;
}

.unde_desc p {
    font-size: 25px;
}

.unde_preco {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;

}

.unde_preco_p {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unde_preco_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.unde_preco_p h4 {
    font-size: 30px;
}

.unde_preco_p p {
    font-size: 15px;
}

.magni_conteudo_principal {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: start;


}

.headset_magni {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: #E0D2EB;
}

.magni_titulo {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    height: 100px;
}

.magni_titulo,
.timer {
    font-size: 50px;
}



.magni_article {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-transform: none;
}

.magni_article:hover {
    box-shadow: 0px 10px 15px 20px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.magni_article a {
    text-decoration-color: transparent;
    color: grey;
    font-size: 20px;
}

.magni_article a:hover {
    text-decoration-color: #ea01ff;
    text-transform: none;
    color: black;

}

.magni_article h3 {
    margin-bottom: 20px;
    font-size: 30px;
}

.headset_enorme_img {
    width: 450px;
    height: 520px;
    position: relative;
}

.headset_enorme_img img {
    width: 100%;
    height: 100%;

}

.headset_enorme_img p {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100000;
    background-color: #ea01ff;
    color: white;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
}

.magni_conteudo {
    width: 420px;
    height: 470px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.magni_conteudo h3 {
    font-size: 30px;
}

.lorem_p {
    font-size: 20px;
    color: grey;
    line-height: 30px;
    margin-bottom: 30px;
}

.magni_conteudo_preco_alterado {
    display: flex;
    gap: 10px;
    align-items: center;
}

.magni_conteudo_preco_alterado_p1 {
    font-size: 30px;
    color: green;
}

.magni_conteudo_preco_alterado_p2 {
    font-size: 20px;
    color: grey;
    text-decoration: line-through;
    text-decoration-color: red;
}

.magni_preco2 {
    display: flex;
    width: 100px;
    height: 100px;

}

.magni_preco2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 20px;

}

.magni_conteudo_compra_interativo_total {
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 10px;

}

.magni_conteudo_compra_interativo_fracao {
    background-color: #b26ac9;
    width: 25%;
    height: 25%;
    border-radius: 10px, 5px;
    margin-top: 20px;
}

.magni_conteudo_compra_interativo_fraca {
    background-color: rgb(172, 172, 172);
    width: 25%;
    height: 25%;
    border-radius: 10px, 5px;
    margin-top: 20px;
}

.magni_btn {
    width: 170px;
    height: 60px;
    background-color: #b26ac9;
    border-radius: 50px;
    border: none;
    color: white;
    margin-top: 40px;
    cursor: pointer;
}

.quam {
    width: 100%;
    height: 750px;
    background-color: #e2e0e0eb;
    display: flex;
    flex-direction: column;
}

.quam_titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
    gap: 20px;
}

.quam_titulo h2 {
    font-size: 70px;
}

.quam_conteudo {
    display: flex;
    width: 100%;
    height: 430px;
    justify-content: space-around;
}

.quam_article1 {
    /* border: 1px solid #b26ac9; */
    width: 370px;
    height: 400px;
    background-color: white;

    /* transition: 5s; */
    cursor: pointer;
    /* position: relative; */
}

.quam_article1:hover {
    top: -2px;
    box-shadow: 0px 5px 15px 20px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.quam_article1_img {
    height: 60%;
    width: 100%;
}

.quam_article1_img img {
    width: 100%;
    height: 100%;
}

.quam_article1_conteudo {
    width: 100%;
    height: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quam_article1_conteudo h4 {
    font-size: 20px;
}

.quam_articles {
    display: flex;
    flex-direction: column;
}

.setas2 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    border: none;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.seta1,
.seta2 {
    width: 50px;
    height: 50px;
    border: 1px solid #ea01ff;
    border-radius: 50px;
}

footer {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.footer_t_cor {
    background-color: #3c2caa;
    width: 100%;
    height: 100%;
}

.footer_t {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;



}

.ducimus {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    height: 50%;
    margin-top: 30px;
    margin-top: 70px;
}

.ducimus h1 {
    font-size: 15px;
    color: white;
}

.ducimus h2 {
    color: white;
    font-size: 60px;
}

.ducimus p {
    font-size: 20px;
    color: grey;

}

.formulario {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

}



.email_input {
    width: 380px;
    height: 60px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
}

.email_input input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.email_input input::placeholder {
    color: grey;
}

.footer_b {
    width: 100%;
    height: 50%;
    background-color: #E0D2EB;

}

.alto {
    display: flex;
    height: 320px;
    justify-content: space-between;
    padding-top: 70px;
}

.tempor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.endereco {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.baixo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid black; */
    width: 100%;
    height: 80px;
    background-color: #E0D2EB;
}

.baixo p {
    width: 250px;
}

.sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    gap: 40px;
}

.sociais img {
    width: 100%;
    height: 100%;
}

.ft {
    border: 3px solid #ea01ff;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    padding: 5px;
}

.ft a {
    text-decoration: none;
}

.pagamento {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.pagamento img {
    width: 30px;
    height: 30px;
}

.pagamento a {
    text-decoration: none;
}

.divisoria {
    width: 100%;
    height: 1px;
    border-top: 1px solid grey;
    position: relative;
    bottom: 80px;
}
