* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}


header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(91.13deg, rgba(164, 91, 206, 1), rgba(51, 36, 177, 1));
    align-items: center;


}

header .header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header1 .relap {
    color: white;
    text-transform: uppercase;
}

header .pesquisa-header {
    height: 50px;
    width: 465px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;



}

header .pesquisa-header #pesquisa {
    outline: none;
    border: none;
    color: grey;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    border-radius: 10px;
}

header .pesquisa-header ::placeholder {
    width: 100%;

}

header nav {
    display: flex;
    justify-content: space-between;
    text-transform: none;
    width: 350px;



}

header nav a {
    text-decoration: none;
    color: white;

}

header .iconsheader img {
    height: 30px;
    width: 30px;



}

header .iconsheader {
    display: flex;
    gap: 10px;
}

/* body {
    background-image: linear-gradient(91.13deg, rgba(164, 91, 206, 1), rgba(51, 36, 177, 1));
} */

main .banner1 {
    width: 100%;
    height: 674px;
    background-image: linear-gradient(91.13deg, rgba(164, 91, 206, 1), rgba(51, 36, 177, 1));
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

main .banner1 .trocar-banner button {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}


main .banner1 .coisas-do-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

main .banner1 .img-notebook {
    width: 1000px;
    height: 700px;
    position: relative;
    top: 90px;
    right: 120px;

}

main .banner1 .info-banner1 {
    display: flex;
    flex-direction: column;
    width: 100%px;
    height: 300px;
    gap: 40px;
    position: relative;
    right: 300px;

}

main .banner1 .info-banner1 h3 {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

main .banner1 .info-banner1 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;

}

main .banner1 .coisas-do-banner .info-banner1 button {
    background-color: #FFC101;
    color: white;
    border: none;
    border-radius: 60px;
    width: 175px;
    height: 50px;
}

main .envio {
    width: 100%;
    height: 285px;
    background-color: #E0D2EB;
    display: flex;
    flex-direction: row;
    z-index: 2;
    padding: 50px;
    position: relative;

}

main .envio img {
    width: 50px;
    height: 50px;
}

main .envio .resumo {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

main .envio .resumo .caminhao-envio p {
    margin-left: 65px;

}

main .envio .titulo-caminhao {
    display: flex;
    align-items: center;
    gap: 15px;
}

main .envio .titulo-caminhao h4 {
    font-size: 26px;
}

main .produtos1 {
    width: 100%;
    height: 1000px;
    display: flex;
    background-color: #E2dceb;

}

main .produtos1 .titulos-pd1 {
    width: 100%;
    height: 235px;
    align-items: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 25px;
    margin: 0px;
    padding: 0px;
}

main .produtos1 .titulos-pd1 h2 {
    font-size: 20px;
}

main .produtos1 .titulos-pd1 h3 {
    font-size: 50px;
}

main .produtos1 .titulos-pd1 p {
    display: flex;
    align-items: center;
}

main .produtos1 .div_produtos {
    display: flex;
    justify-content: space-between;
}

main .produtos1 .produtos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

main .produtos1 .produtos img {
    width: 150px;
    height: 150px;
}