@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/equipes.css">

<main>
<section class="container-grid cadastro-equipes">
    
@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}

else
{
    
    

<form class="frm-cad-equipe" method="post" action='@Url.Action("Atualizar")' enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Atualizar Equipe</h1>
                    <hr>
                </div>




                <input class="campo-entrada" type="hidden" id="idEquipe">
                <input class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:" name="Nome" required>
                <label class="foto" for="foto-file">
                    Nenuma imagem selecionada...
                    <input type="file" id="foto-file" value="@ViewBag.Equipe.Imagem" name="Imagem" required>
                </label>

                <button type="submit">Atualizar</button>



        
            </form>




    

}

</section>
</main>