@font-face {
    font-family: BebasNeue-Regular;
    /*apelido ou nome da fonte*/
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* esconde o icone do hamburger */
 header #menu-hamburger {
     display: none;

 }

 header {
     background-color: #F9003D;
     height: 60px;
 }

 .layout-grid {
     width: 100%;
     height: 100%;
     max-width: 1200px;
     margin: 0 auto;
 }

 body {
     color: white;
     background-color: #080324;
     font-family: 'Courier New', Courier, monospace;
     font-size: 16px;
 }


 header .header-flex {
     height: 60px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 header nav {
     width: 600px;
     display: flex;
     justify-content: space-between;
     font-family: BebasNeue-Regular;

 }

 header nav a:hover {
     background-color: white;
     color: #F9003D;
 }

 header nav a {
     font-family: bebas-neue;
     color: white;
     text-decoration: none;
     letter-spacing: 2px;
     text-transform: uppercase;
 }

 main .banner {
     width: 100%;
     height: 740px;
     color: white;
     background-image: url(../assets/images/imagem-fundo-banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;
 }

 main .banner-flex {
     display: flex;
     align-items: center;
 }

 main .banner #bannerinfo {
     width: 550px;
 }

 main .banner #bannerinfo h1 {
     margin-bottom: 40px;
     padding-bottom: 30px;
     font-family: "bebas-neue";
     font-size: 60px;
     border-bottom: 2px solid #FFAF00;
     text-transform: uppercase;
 }

 main .senai-informatica {
     margin-bottom: 40px;
     font-family: 'Courier New', Courier, monospace;
     font-size: 53px;
     font-weight: bold;
     text-transform: uppercase;
     color: #F9003D;
 }

 .sobre {
     padding: 60px 0;
 }

 .sobre .sobre-flex {
     display: flex;
     justify-content: space-between;
 }

 .sobre .sobre-flex .sobrebox {
     width: 500px;
 }

 .sobre .sobre-flex .sobrebox h2 {
     margin-bottom: 40px;
     font-family: 'Bebas Neue', cursive;
     font-size: 64px;
     color: #F9003D;
 }

 .sobre .sobre-flex .participantes {
     width: 640px;
     padding-top: 10%;
 }

 .sobre .sobre-flex .participantes h3 {
     margin-bottom: 20px;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-size: 24px;
     text-transform: uppercase;
 }

 .sobre .sobre-flex .participantes h4 {
     font-family: 'Bebas Neue', cursive;
     font-size: 64px;
     color: #FFAF00;
 }

 .sobre .sobre-flex .participantes p {
     font-size: 18px;
     line-height: 28px;
     text-align: justify;
     padding-top: 2%;
 }

 /* smartphone */

 @media screen and (max-width: 767px) {

     main {
         display: none;
     }

     header nav {
         position: fixed;
         top: 60px;
         left: 0;
         width: 80vw;
         max-width: 360px;
         height: 100vh;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #F9003D;
     }

     header nav a {
         width: 150px;
         margin-bottom: 30px;
         border-radius: 0;
         font-size: 24px;
         border-left: 2px dashed white;
         padding-left: 5px;
     }

     header #menu-hamburger {
         display: block;
     }
 }